// Variables
$body-color: rgb(31,31,31);
$article-color: rgb(61,61,61);
$navbar-color: rgba(81,81,81,0.5);
$form-color: rgb(101,101,101);
$color-font: rgb(200,200,200);
$color-title: rgb(255,212,0);
$color-categories: rgb(255,72,0);
$color-labels: rgb(255,146,30);
$color-hover: rgb(215,172,0);
$color-input: rgb(71,71,71);
$box-shadow: rgba(255,212,0,0.15) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 2px 4px;
$box-shadow-hover: rgba(255,212,0,0.3) 0px 8px 16px, rgba(0, 0, 0, 0.15) 0px 4px 8px;
$color-primary: #ffd400;
$highlight-color: #ffd400;
$linkedin: #0A66C2;
$github: #171515;
$color-success: #1cc88a;
$color-danger: #e74a3b;